.player {
  width: 100%;
  min-height: 50px;
  background-color: white;
  position: fixed;
  bottom: 0;
}

.night .player {
  background-color: #000;
}

.track_container {
  position: absolute;
  bottom: 0;
  margin-left: 220px;
  right: 210px;
  left: 0;
}

.track_wrapper {
  line-height: 50px;
}

.volume {
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 3;
}

.controls {
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  padding-left: 12px;
  width: 100%;
}

.controls_btn, .volume_btn {
  width: 30px;
  height: 30px;
  margin: 0 0 0 8px;
  padding: 10px 0;
  opacity: .4;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  -webkit-user-select: none;
  user-select: none;
}

.controls_btn:hover,
.volume_btn:hover {
  opacity: .6;
}

.controls_btn .fas,
.volume_btn .fas {
  margin: 6px;
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.controls .play {
  padding: 20px;
}

.progress {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 16px;
  cursor: default;
}


.progress_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 11px;
  height: 5px;
  line-height: 5px;
}

.night .progress_bar {
  color: #fff;
}

.progress_bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #ebebeb;
}

.night .progress_bg {
  background-color: #0e0e0e;
}

.player:hover .progress_bar,
.player:hover .progress_bg {
  height: 16px;
  line-height: 16px;
}

.progress_line {
  display: block;
  position: relative;
  height: 100%;
}

.progress_buffered .progress_line {
  background: rgba(191,191,191,0.95);
}

.night .progress_buffered .progress_line {
  background: rgba(37, 37, 37, 0.9);
}

.progress_reproduced .progress_line {
  background: #a86fcc;
}

.night .progress_reproduced .progress_line {
  background: #532471;
}

.progress_text {
  z-index: 40;
}

.progress_left {
  margin-left: 10px;
  float: left;
  display: none;
}

.progress_right {
  margin-right: 10px;
  float: right;
  display: none;
}

.player:hover .progress_left,
.player:hover .progress_right {
  display: block;
}